.border.border-left-0.border-right-0.border-bottom-0.py-3.row
  .col-2.px-2
    = image_tag current_user.avatar, class: "border.rounded-circle.w-100"
  .col-10.px-3
    %p.my-1
      %span.text-secondary
        %strong= "@#{current_user.name}"
        = "#{time_ago_in_words(post.created_at)}前"
    = post.body