!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    .container.py-4.px-0
      = flash_message(flash[:success], :success) if flash[:success]
      = flash_message(flash[:error], :danger) if flash[:error]
      = flash_message(flash[:alert], :warning) if flash[:alert]
      = flash_message(flash[:notice], :info) if flash[:notice]
      = yield
    = render 'layouts/footer'
